@import url(https://fonts.googleapis.com/css?family=Average+Sans);
// Colours
$background: #C8F2EF;
$keyboardMain:#f5f3f1;
$keyboardSecond: #cdd3de;
$key: #d3cfcc;
$keyBorder: #ece8e4 #dedad6 #c9c4c4;

body {
    display: flex; 
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;  
    background-color: $background;
    font-family: 'Average Sans', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: space-between;
    align-content: center;
    padding: 10px;
}

textarea {
    padding: 1em;
    border-radius: 10px;
    resize: none;
    height: 250px;
}

.keyboard {
    padding: 30px 10px 15px;
    border-radius: 5px;
    background: linear-gradient(to bottom, #e5e2e1, $keyboardMain, #e5e2e1);
    box-shadow: 0 0 10px rgb(0 0 0 / 20%), inset 0 0 3px rgb(0 0 0 / 30%);
    width: 874px;
    height: 314px;
    display: flex;
}

.key {
    width: 40px;
    height: 45px;
    margin: 2px;
    border-width: 3px 7px 10px;
    border-style: solid;
    border-radius: 4px;
    background: #d3cfcc;
    border-color: #ece8e4 #dedad6 #c9c4c4;
}

